<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="planets.position"
    android:installLocation="auto"
    android:versionCode="19"
    android:versionName="1.6" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="14" />

    <application
        android:icon="@drawable/ic_mars"
        android:label="@string/app_name" >
        <activity
            android:name=".Planets"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="About"
            android:screenOrientation="portrait" />
        <activity
            android:name="NewLoc"
            android:label="@string/loc_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="ViewWhatsUp"
            android:label="@string/up_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="Position"
            android:label="@string/pos_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="LivePosition"
            android:label="Real Time Position"
            android:screenOrientation="portrait" />
        <activity
            android:name="SolarEclipse"
            android:label="@string/solar_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="LunarEclipse"
            android:label="@string/lunar_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="PlanetData"
            android:screenOrientation="portrait" />
        <activity
            android:name="EclipseData"
            android:screenOrientation="portrait" />
        <activity
            android:name="EclipseMap"
            android:theme="@android:style/Theme.NoTitleBar" />

        <uses-library android:name="com.google.android.maps" />

        <provider
            android:name=".data.PlanetsDbProvider"
            android:authorities="planets.position.data.planetsdbprovider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>
    </application>

</manifest>